[Locations]
# Path to loadout config from runner
looks_config = appearance.cfg

# Path to module from runner
python_file = javaExample.py

# Name that will be displayed in game
name = Eru[bot] v1

[Bot Parameters]
java_executable_path = ../RLBotJavaExample/bin/RLBotJavaExample.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Eruliaf

# Short description of the bot
description = First bot ... or not

# Fun fact about the bot
fun_fact = 

# Link to github repository
github = https://github.com/RLBot/RLBotJavaExample

# Programming language
language = java
