[Locations]
# Path to loadout config from runner
looks_config = appearance.cfg

# Path to module from runner
python_file = launchJava.py

# Name that will be displayed in game
name = AGC

[Bot Parameters]
java_executable_path = ../AGC/bin/AGC.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Eru

# Short description of the bot
description = My car's debug utilities are basically the only part of the bot that I keep. The rest of the bot ends up being rewritten every few weeks. When this bot does something really cool, you'll be the first to know.

# Fun fact about the bot
fun_fact = AGC is stands for Apollo Guidance Computer.

# Link to github repository
github = https://github.com/NoMoor/AGC/

# Programming language
language = java
